<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Score</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <div class="container"> 
        <div id="end" class="flex-center flex-column">
            <form method="post" class="end-form-container">
                
                <h1 style="background-color:rgb(28,26,26); color: rgb(11,223,36);margin-top:1rem; margin-bottom:1rem;">Score</h1>
                <input type="text" id="score" name="score" style="background-color:rgb(28,26,26); 
                border:none;
                color: white;
                text-align: center;
                width: 100%;
                font-size: 5rem;
                outline: none;
                border: none;
                box-shadow: 0 0.1rem 1.4rem 0 rgb(28,26,26);" readonly>
                <br/><br/><h2 id="end-text" style="color: rgb(11,223,36);"> Enter name below to save your score !</h2>
                <input type="text" name="name" id="username" placeholder="Enter your name">
                <button class="btn" id="save-btn" type="submit" disabled>Save</button>
            
            </form>
            
            <a href="/survey" id="try-btn" class="btn">Try Again</a>
            <a href="/" id="home-btn" class="btn">Homepage<i class="fas fa-home"></i></a>
        
        </div>

    </div>  
    <script src="static/js/end.js"></script>  
</body>
</html>