<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Generation Home</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="flex-column flex-center">
           <!-- <EMBED SRC="static/yeni.mid" hidden=true autostart=true loop=1> -->
            <form style="position: center; text-align: center; align-items: center;" action="/generate" method="post">
                
                <h1 style="color:#fd7b52;margin-bottom: 2rem;">Architecture</h1>
                <select name="architecture" id="architecture">
                    <option value="lstm" disabled>LSTM</option>
                    <option value="gru">GRU</option>
                    <option value="lstmatt" disabled>LSTM + Attention</option>
                    <option value="bilstmatt" disabled>BiLSTM + Attention</option>
                    <option value="lstmattlstm" disabled>LSTM + Attention + LSTM</option>
                    <option value="bilstmattlstm">BiLSTM + Attention + LSTM</option>
                    <option value="bilstmattgru">BiLSTM + Attention + GRU</option>
                    <option value="bilstmattbigru" disabled>BiLSTM + Attention + BiGRU</option>
                    <option value="lstmlstmlstm" disabled>LSTM + LSTM + LSTM</option>
                    <option value="lstmbilstmbilstm" disabled>LSTM + BiLSTM + BiLSTM</option>
                </select>

                <br><br>
                <h1 style="color:#43d63e;margin-bottom: 2rem;">Dataset</h1>
                <select name="dataset" id="dataset">
                  <option value="mozart">Classical Piano Concertos</option>
                  <option value="jazz">Jazz Music</option>
                </select>
                
                <br><br>
                <h1 style="color:#20c4ae;margin-bottom: 2rem;">Length (# Notes)</h1>
                <select name="notes" id="notes">
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="500">500</option>
                </select>
                <br><br><br><br><br><br><br><br><br>
                
                <input type="submit" value="Generate" id="generate-btn" class="btn">
            </form>           
            
            {% if a == True %}
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                
                <h4 style="color:rgb(252, 250, 157);">Generated Music</h4>
                <midi-player src="../static/generated_song.mid" sound-font> </midi-player>
                
                <br><br><br><br>
                <!-- The following needs to be inserted somewhere on the page for the player(s) to work. -->
                
                <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.21.0/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.1.0"></script>
                <a href="../static/generated_song.mid" class="red-btn" >Download</a> 
            {% endif %}
            
            <a href="/" id="home-btn" class="btn">Homepage<i class="fas fa-home"></i></a>
        </div>
    </div>
</body>
</html>
