<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jazz Dataset Results</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="flex-column flex-center">
            <div class="game-board" style="margin-top:10px;">
                <div class="box"><a href="/lstmjazz"><h1 style="font-size: 20px;">LSTM</h1></a></div>
                <div class="box"><a href="/grujazz"><h1 style="font-size: 20px;">GRU</h1></a></div>
                <div class="box"><a href="/lstm2jazz"><h1 style="font-size: 20px;">LSTM + LSTM</h1></a></div>
                <div class="box"><a href="/bilstm2jazz"><h1 style="font-size: 20px;">BiLSTM + BiLSTM</h1></a></div>
                <div class="box"><a href="/lstm3jazz"><h1 style="font-size: 20px;">LSTM + LSTM + LSTM</h1></a></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>

            </div>
        </div>
    </div>
    
    


</body>
</html>