<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozart&Beethoven Dataset Results</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="flex-column flex-center">
            <div class="game-board" style="margin-top:10px;">
                <div class="box"><a href="/lstm"><h1 style="font-size: 20px;">LSTM</h1></a></div>
                <div class="box"><a href="/gru"><h1 style="font-size: 20px;">GRU</h1></a></div>
                <div class="box"><a href="/gan"><h1 style="font-size: 20px;">GAN</h1></a></div>   
                <div class="box"><a href="/bilstm_att"><h1 style="font-size: 20px;">BiLSTM + Attention</h1></a></div>
                <div class="box"><a href="/lstm_att"><h1 style="font-size: 20px;">LSTM + Attention</h1></a></div>                
                <div class="box"><a href="/bilstm_att_bigru"><h1 style="font-size: 20px;">BiLSTM + Attention + BiGRU</h1></a></div>
                <div class="box"><a href="/bilstm_att_gru"><h1 style="font-size: 20px;">BiLSTM + Attention + GRU</h1></a></div>
                <div class="box"><a href="/bilstm_att_lstm"><h1 style="font-size: 20px;">BiLSTM + Attention + LSTM</h1></a></div>
                <div class="box"><a href="/lstm_att_lstm"><h1 style="font-size: 20px;">LSTM + Attention + LSTM</h1></a></div>
                <div class="box"><a href="/lstm_bilstm_bilstm"><h1 style="font-size: 18px;">LSTM + BiLSTM + BiLSTM</h1></a></div>
                <div class="box"></div>
                <div class="box"><a href="/lstm_lstm_lstm"><h1 style="font-size: 20px;">LSTM + LSTM + LSTM </h1></a></div>
                
            </div>
        </div>
    </div>
    
    


</body>
</html>